
.helpPageTitle{
    
}

.can-cards{
    width: 18rem;
    margin: 30px 30px 30px 30px;
}


.ratings-thumbs-box{
    padding: 10px 10px 10px 10px;
    float: right;
    border: solid 2px black;
    border-radius: 10px;
}

.TD, .TU{
    font-size: 150%;
}

.ratings-cards{
    font-size: 2rem;
}
