

body{
    
}

.helpPageTitle{
    
}

.can-cards{
    width: 18rem;
    margin: 30px 30px 30px 30px;
}


.ratings-thumbs-box{
    padding: 10px 10px 10px 10px;
    float: right;
    border: solid 2px black;
    border-radius: 10px;
}

.TD, .TU{
    font-size: 150%;
}

.ratings-number{
    font-size: 2rem;
    font-family: "Segment7Standard";
    color: #f00000;
    border: solid 2px black;
    background-color: #400000;
}

.vegan_icon{
    width: 30%;
    z-index: 2;
    position: absolute;
}

.abvselect{
    overflow: hidden;
}

.canimage{
    width: 100%;
    
}
   