{% extends 'base.html' %}
{% block content %}

<div>
	<h2 class="aboutPageTitle">About</h2>
	<p>
		Can share was spurned out of a love for beer with good friends, where once a month we would meet up at our local
		brewery, bring a can each of whatever style of beer, all have a sample each and give our opinions on taste,
		smell, mouth feel/ body, colour, can or bottle design and how the can/bottle feels in the touch. Is it a quality
		beer in a shoddy can or a shoddy beer in a quality can, or a good all-rounder, then after trying a few (hick) we
		do an overall rating of the beer we have sampled.

		To keep track or our best and worst sampled beers I decided to create can share a website for all to come and
		give a thumbs up or thumbs down.

	</p>
</div>

{% endblock %}