{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-12 about-box">
		<h2 class="aboutPageTitle">About:</h2>
		<p>
			Can share was spawned out of a love for beer with good friends. Once a month we would meet up at our
			local
			brewery and each bring a can of something new to sample. We'd discuss our opinions on taste,
			smell, mouth feel/ body, colour, can or bottle design and how the can/bottle feels in the touch. Is it a
			quality
			beer in a shoddy can or a shoddy beer in a quality can, or a good all-rounder? After trying a few we would
			do an overall rating of the beer we had sampled!

			<p>To keep track of our best and worst sampled beers, I decided to create can share, a website for all beer lovers to come
				and
				give a thumbs up or thumbs down to different beers.</p>
			<i class="fas fa-egg easter-egg" data-toggle="modal" data-target="#picturemodal"></i>
	</div>
</div>
<div class="modal fade" id="picturemodal" tabindex="-1" role="dialog" aria-labelledby="picturemodal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">The Original Team!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<img class="eastereggbody" src="static/images/canshare2.jpg" alt="can share">
				<img class="eastereggbody" src="static/images/canshare1.jpg" alt="can share">
				<div class="names-hidden">
					<p>Andy, Tom, Jon, Elen, Patrick, Simon, Aled, Andy</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}