{% extends 'base.html' %}
{% block content %}

<div>
	<h2 class="addbeerPageTitle">Brew your own!</h2>
	<form form action="{{url_for('add_beer')}}" method="POST">
		<div>
			<label >Beer Name</label>
			<input type="text" class="form-control" name="name" id="name" required>
        </div>
			<div>
				<label >Brand</label>
				<input type="text" class="form-control" name="brand" id="brand" required>
            </div>
				<div>
					<label >Type of Beer</label><br>
                        <select class="dropdown-typeselect-button" name="type" id="beer_type">
                            <option class="dropdown-item" value="" disabled selected>Select Type</option>      
                            {% for type in typesofbeer %}            		
                            <option class="dropdown-item" value="{{type._id}}">{{type.type}}</option>
                            {% endfor %}
                        </select>
				    </div>
				    <div>
					    <label >ABV</label><br>
                        <select class="dropdown-typeselect-button abvselect" name="abv" id="abv" required>
                            <option class="dropdown-item" value="abv" disabled selected >Select ABV</option> 
                            {% for abv in abvnumber %}
                            <option class="dropdown-item" value="{{abv / 10}}" name="abv">{{abv / 10}}</option>
                            {% endfor %}          		
                        </select>
                </div>
					    <label >Vegan Friendly?</label>
                      <div class="custom-control custom-switch">
                            {% if checkbox != checked %}
                            <input type="checkbox" class="custom-control-input" name="vegan" id="vegan-switch"checked>
                            <label class="custom-control-label" for="vegan-switch">Yes</label>
                            {% else %}
                            <input type="checkbox" class="custom-control-input" name="vegan" id="vegan-switch">
                            <label class="custom-control-label" for="vegan-switch">Yes</label>
                            {% endif %}
                    </div>
					<div>
						<label >Hop Varietys</label>
						<input type="text" class="form-control" name="hop_type" id="hop_type">
                    </div>
						<div>
						<label >Malts</label>
						<input type="text" class="form-control" name="malts" id="malts">
                </div>
					<div>
						<label >Average Price</label><br>
                          <select class="dropdown-typeselect-button abvselect" name="average_price" id="price" required>
                            <option class="dropdown-item"  disabled selected >Select Price</option> 
                            {% for priceofbeer in price %}
                            <option class="dropdown-item" name="average_price">£{{priceofbeer / 10}}0</option>
                            {% endfor %}          		
                        </select>
                </div>
					<div>
						<label >Where car i buy it</label>
						<input type="text" class="form-control" name="where_bought" id="where_bought">
                </div>
					<div>
						<label >Image URL</label> <a href="{{url_for ('help')}}" target="_blank">For help click here</a>
						<input type="text" class="form-control" name="image_url" id="image_url" required>
                </div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Tell us about it?</label>
						<textarea class="form-control" id="review" name="review" rows="3"></textarea>
					</div>
					<div>
					    <button type="submit" class="btn btn-primary">Add</button>
						    <a class="btn btn-primary" href="{{url_for ('home')}}"
						    role="button">Cancel</a>
				    </div>
	</form>
</div>
<script>src="../static/js/index.js" </script>
{% endblock %}