{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-12 herologo">
		<img class="cellarlogo" src="/static/images/cellar_logo.png" alt="beer cellar image">
    </div>
		<div class="col-sm-12 wellcomename">
			<a class="btn btn-primary addbeerbutton" href="{{url_for ('add_beer')}}" role="button">
				<div class="beer-cellar-button-text">Hello {{username}} Wellcome To Can Share!</div>
				<div>To Add Your Can Click Here!</div>
			</a>
		</div>
	</div>

	<div class="row can-row">
		{% for cans in caninfo %}
		<div class="col-lg-3  can-cards">
			<div class="card">
				<!-- Object wrappes the image to ensure thst if the image url fails an image in included-->
				<a href="{{url_for ('can_info', can_id=cans._id)}}">
					<img src="{{cans.image_url}}" class="card-img-top canimage" alt="can image" onerror="this.onerror=null;this.src='/static/images/noimage.jpg';"></a>
					{% if cans.vegan == 'on'%}
					<img class="vegan_icon" src="/static/images/vegan.png" alt="vegan image">
			    {% else %}
					<img class="vegan_icon" src="/static/images/veganno.png" alt="vegan image">
			    {% endif %}
					<div class="card-body card-details">
						<div>{{cans.name}}</div>
						<div>{{cans.brand}}</div>
						<div>{{cans.beer_name}}</div>
						<div>ABV: {{cans.abv}}</div>
					</div>
					<div class="card-body card-buttons">
						<a class="btn btn-primary" href="{{url_for ('can_info', can_id=cans._id)}}"
							role="button">Info</a>
						<a class="btn btn-primary" href="{{url_for ('edit_beer', can_id=cans._id)}}"
							role="button">Edit</a>
						<div id="{{cans._id}}" class="admin-thumb-box">
							{% if cans.rating == 1 %}
                            	<div class="row">
								<div class="col thumbup">
									<i id="{{cans._id}}up" class="fas fa-thumbs-up TU" onclick="vote('up', this)"></i>
								</div>
								<div class="col ratings-cards ratings-number">{{cans.average}}</div>
								<div class="col thumbsdown">
									<i id="{{cans._id}}down" class="far fa-thumbs-down TD" onclick="vote('down', this)"></i>
								</div>
							</div>
							{% elif cans.rating == 0 %}
							<div class="row">
								<div class="col thumbup">
									<i id="{{cans._id}}up" class="far fa-thumbs-up TU" onclick="vote('up', this)"></i>
								</div>
								<div class="col ">
									<div class="ratings-cards ratings-number">{{cans.average}}</div>
								</div>
								<div class="col thumbsdown">
									<i id="{{cans._id}}down" class="fas fa-thumbs-down TD" onclick="vote('down', this)"></i>
								</div>
							</div>
							{% else %}
							<div class="row">
								<div class="col thumbup">
									<i id="{{cans._id}}up" class="far fa-thumbs-up TU" onclick="vote('up', this)"></i>
								</div>
								<div class="col">
									<div class="ratings-cards ratings-number">{{cans.average}}</div>
								</div>
								<div class="col thumbsdown">
									<i id="{{cans._id}}down" class="far fa-thumbs-down TD" onclick="vote('down', this)"></i>
								</div>
							</div>
                            {% endif %}
						</div>
					</div>
			</div>
		</div>
		{% endfor %}
	</div>

	{% endblock %}