{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1 class="beer-cellar-title">The Beer Cellar</h1>
		<h3 class="beer-cellar-heading">
			<a class="btn btn-primary" href="{{url_for ('add_beer')}}" role="button">Add Your Can!</a>

		</h3>
	</div>
</div>

<div class="row">
	{% for cans in caninfo %}
	<div class="col-md-3  can-cards">
		<div class="card">
			<img src="{{cans.image_url}}" class="card-img-top" alt="Image of Can">
             {% if cans.vegan == 'on'%}
				<img class="vegan_icon" src="/static/images/vegan.png">
			{% else %}
				<img class="vegan_icon" src="/static/images/veganno.png">
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{cans.name}}</h5>
				<h6>{{cans.brand}}</h6>
				<h6>{{cans.type}}</h6>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">ABV: {{cans.abv}}</li>
			</ul>
			<div class="card-body">
				<button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#caninfomodal">Info</button>
				<button type="button"  class="btn btn-primary" href="{{url_for('edit_beer', can_id=cans._id)}}">Edit</button>
				<div class="ratings-thumbs-box">
					<i class="far fa-thumbs-up TU" onclick=""></i>
					<Span class="ratings-cards">{{cans.ratings}}</Span>
					<i class="far fa-thumbs-down TD" onclick=""></i>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<!-- More info Modal -->
<div class="modal fade" id="caninfomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">More Info</h5>
				</button>
			</div>
			<div class="modal-body">
				<img src="" class="card-img-top" alt="Image of Can">
				<h5 class="card-title"></h5>
				<h6></h6>
				<li class="list-group-item">ABV:Vegan: </li>
				<li class="list-group-item"></li>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->


{% endblock %}