{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1 class="beer-cellar-title">The Beer Cellar</h1>
		<h3 class="beer-cellar-heading">Welcome to can share please rate the beers you see with thums up or thumbs down
			cant see a beer you love Simple
			click on sign up add email and password then add a beer for others to rate!
		</h3>
	</div>
</div>

<div class="row">
	{% for cans in caninfo %}
	<div class="col-md-3  can-cards">
		<div class="card">
			<img src="{{cans.image_url}}" class="card-img-top" alt="Image of Can">
			<div class="card-body">
				<h5 class="card-title">{{cans.name}}</h5>
				<h6>{{cans.brand}}</h6>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">ABV: {{cans.abv}}</li>
				<li class="list-group-item">Vegan: {{cans.vegan}}</li>
			</ul>
			<div class="card-body">
				<button type="button"  class="btn btn-primary">Info</button>
				<div class="ratings-thumbs-box">
					<i class="far fa-thumbs-up TU" onclick=""></i>
					<Span class="ratings-number">{{cans.ratings}}</Span>
					<i class="far fa-thumbs-down TD"onclick=""></i>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- More info Modal -->
<div class="modal fade" id="agewarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="modalimagebox">
						<img class="modal-waring-image" src="static/images/18.png" alt="over 18 warning">
						<h5 class="card-title">Thanks for paying us a visit</h5>
						<p>You must be 18 years of age to enter this site.</p>
                        <p>Please enjoy responsibly.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 warning_modal_buttons">
						<button type="button" class="btn modal-button" data-dismiss="modal">Enter Site!</button>
					</div>
					<div class="col-sm-6 warning_modal_buttons">
						<a type="button" class="btn modal-button" href="https://www.google.co/">Under 18?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="static/js/onload.js"></script>
{% endblock %}