{% extends 'base.html' %}

{% block content %}

<div class="container-fluid beer-info-box">
	<div class="row can-info-heading">
		<div class="col-sm-12 "></div>
		<h2>Inspect Your Selection</h2>
	</div>
	<div class="row">
		<div class='col-lg-4 info-pic'>
            {% if caninfo.vegan == 'on'%}
			<img class="vegan_icon_info" src="/static/images/vegan.png" alt="vegan image">
	        {% else %}
			<img class="vegan_icon_info" src="/static/images/veganno.png" alt="vegan image">
	        {% endif %}
			<object class="canimage-info" data="{{caninfo.image_url}}" type="image/jpg">
				<img src="/static/images/noimage.jpg" class="canimage-info" alt="can image"></object>
		</div>
		<div class='col-lg-8'>
			<h5>{{caninfo.name[0]|upper}}{{caninfo.name[1:]}}</h5>
			<h6>{{caninfo.brand[0]|upper}}{{caninfo.brand[1:]}}</h6>
			<h6>{{beer_type.type}}</h6>
			<h6>ABV: {{caninfo.abv}}</h6>
			<h6>Hops: {{caninfo.hop_type[0]|upper}}{{caninfo.hop_type[1:]}}</h6>
			<h6>Malts: {{caninfo.malts[0]|upper}}{{caninfo.malts[1:]}}</h6>
			<h6>Average Price: {{caninfo.average_price}}</h6>
			<h6>Where Can I Get It From? {{caninfo.where_bought}}</h6>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-12'>
			<h6>{{caninfo.review}}</h6>
		</div>
	</div>
	<a class="btn btn-primary info-back" href="{{url_for ('homeLoggedIn')}}" role="button">Back</a>
</div>

{% endblock %}