{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<form class='addbeer-form' action="{{url_for('edit_beer', can_id=the_can._id)}}" method="POST">
		<h2 class="addbeerPageTitle">Edit your Brew!</h2>
		<div>
			<label >Beer Name</label>
			<input type="text" class="form-control" name="name" id="name" required value="{{the_can.name}}">
        </div>
			<div>
				<label >Brand</label>
				<input type="text" class="form-control" name="brand" id="brand" required value="{{the_can.brand}}">
            </div>
				<div>
					<label >Type of Beer</label><br>
					<!-- The for loop popultaes the drop down menu so the user can select what type of beer they are editing the if statement 
                    looks to see it the type._id (the id asociated with the type of beer) is the same as the selected beer if so display that selected beer if
                    not then disaply the list for selection)-->
					<select class="dropdown-typeselect-button type_select" name="beer_type" >
                            <option class="dropdown-item" value="" disabled >Select Type</option>      
                            {% for type in varietyofbeer %} 
                                {%  if type._id == the_can.beer_type  %}           		
                                    <option class="dropdown-item" value="{{type._id}}"  selected>{{type.type}}</option>
                                {% else %}
                                    <option class="dropdown-item" value="{{type._id}}" >{{type.type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
				</div>
				<div>
					<label >ABV</label><br>
					<select class="dropdown-typeselect-button abvselect" name="abv" id="abv" required>
                        <option class="dropdown-item" value="" disabled >Select ABV</option> 
                            {% for abv in abvnumber %}   
                                 <!-- the_can.abv has to be converted to a float rather than a string and the abv has to be divided by 10 
                                 because of the decimal floatinmg point -->        
                                {% if the_can.abv|float == abv / 10 %}  
                                    <option class="dropdown-item"  value="{{the_can.abv}}" selected>{{the_can.abv}}</option>
                                {% else %}
                                    <option class="dropdown-item"  value="{{abv /10}}" >{{abv / 10}}</option> 
                                {% endif %}     
                            {% endfor %}          		
                        </select>
				</div>
				<label >Vegan Friendly?</label><a href="{{url_for ('help')}}" target="_blank">  For help click</a>
				<div class="custom-control custom-switch vegan-switch-icon">
					<!-- this if stament is a truthy it returns if the vegan is selected its true so it shows the selected chackbox, if false it 
                      displays the unchecked checkbox -->
					{% if the_can.vegan %}
					<input type="checkbox" class="custom-control-input" name="vegan" id="vegan-switch" checked>
					<label class="custom-control-label vegan-switch-icon" for="vegan-switch">Yes</label>
					{% else %}
					<input type="checkbox" class="custom-control-input" name="vegan" id="vegan-switch">
					<label class="custom-control-label vegan-switch-icon" for="vegan-switch">Yes</label>
					{% endif %}
				</div>
				<div>
					<label >Hop Varietys</label>
					<input type="text" class="form-control" name="hop_type" id="hop_type" value="{{the_can.hop_type}}">
                    </div>
					<div>
						<label >Malts</label>
						<input type="text" class="form-control" name="malts" id="malts" value="{{the_can.malts}}">
                        </div>
						<div>
							<label >Average Price</label><br>
							<select class="dropdown-typeselect-button abvselect" name="average_price" id="price" required> 
                            <option class="dropdown-item"  value="" disabled>Select Price</option>                           
                            {% for priceofbeer in price %}
                                {% if the_can.average_price|float == priceofbeer / 10 %}
                                <option class="dropdown-item"  value="{{the_can.average_price}}" selected>{{the_can.average_price}}</option>
                                {% else %}
                                <option class="dropdown-item" value="£{{priceofbeer / 10}}0">£{{priceofbeer / 10}}0</option>
                                {% endif %}
                            {% endfor %}          		
                        </select>
						</div>
						<div>
							<label >Where can i buy it?</label>
							<input type="text" class="form-control" name="where_bought" id="where_bought" value="{{the_can.where_bought}}">
                            </div>
							<div>
								<label >Image URL</label><a href="{{url_for ('help')}}" target="_blank">  For help click
									here</a>
								<input type="text" class="form-control" name="image_url" id="image_url" required value="{{the_can.image_url}}">
                                 </div>
								<div class="form-group">
									<label for="review">Tell us about it?</label>
									<textarea class="form-control" id="review" name="review" rows="3" >{{the_can.review}}</textarea>
								</div>
								<div>
									<div class="row form-but-row">
										<div class="form-button-position">
											<button class="btn btn-primary" type="submit">Done</button>
											<a class="btn btn-primary" href="{{url_for ('homeLoggedIn')}}"
												role="button">Cancel</a>
										</div>
									</div>
								</div>
	</form>
</div>

{% endblock %}