{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-12 herologo">
		<img class="cellarlogo" src="/static/images/friends.png" alt="friends image">
	        </div>
	</div>
	<div class="row">
		<div class="col-sm-12 friends_heading">
			<p>If you love beer you will love these guys!
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 friendbox">
			<a href="https://www.darkstarbrewing.co.uk/"
				target="_blank"><img class="friendlinkimages" src="https://beerclubweb.files.wordpress.com/2018/02/du474tuxkaijme1.jpg?w=500" alt="Darkstarbrewing"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.fierceandnoble.com/"
				target="_blank"><img class="friendlinkimages" src="https://static.wixstatic.com/media/3f9287_cd1279ac3e7549b298f07e0e16459697~mv2.jpg/v1/fit/w_2500,h_1330,al_c/3f9287_cd1279ac3e7549b298f07e0e16459697~mv2.jpg" alt="fierce and noble"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://unitybrewingco.com/"
				target="_blank"><img class="friendlinkimages" src="https://pbs.twimg.com/profile_images/1021661969420623872/T5n-2gLU_400x400.jpg" alt="Unity Brewing"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.masqueradebrewing.co/"
				target="_blank"><img class="friendlinkimages" src="https://static1.squarespace.com/static/5d6506719fcce3000138f15e/t/5dea50cd3a71e4195c802125/1580235331660/?format=1500w" alt="Masquerade brewing"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 friendbox">
			<a href="https://lefthandedgiant.com/"
				target="_blank"><img class="friendlinkimages" src="https://cdn.shopify.com/s/files/1/0034/9919/6483/files/boxlogo_180x.png?v=1535968712" alt="left handed giant"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.bristolbeerfactory.co.uk/"
				target="_blank"><img class="friendlinkimages" src="https://untappd.akamaized.net/site/brewery_logos_hd/brewery-3503_98409_hd.jpeg" alt="Bristol Beer Factory"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://wiperandtrue.com/"
				target="_blank"><img class="friendlinkimages" src="https://static1.squarespace.com/static/5073f3b284ae5bd7fb72db78/t/574580c507eaa0f3c67ad794/1583318495690/Wiper%252B%252526%252BTrue%252BLogo.jpg?format=1500w" alt="Wiper and True"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="http://lostandgrounded.co.uk/"
				target="_blank"><img class="friendlinkimages" src="https://pbs.twimg.com/profile_images/1020732640654254080/j3nGDHKE_400x400.jpg" alt="lost and grounded"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 friendbox">
			<a href="https://www.croftales.com/"
				target="_blank"><img class="friendlinkimages" src="https://static.wixstatic.com/media/5e247c_f8b4ad95521f45a88118a325eb25c051~mv2_d_9725_1883_s_2.png/v1/fill/w_198,h_38,al_c,q_85,usm_0.66_1.00_0.01/NL%20-%20CROFT%20ALES.webp" alt="Croft Ales"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="http://arborales.co.uk/arbor-beer/"
				target="_blank"><img class="friendlinkimages" src="https://pbs.twimg.com/profile_images/1085150757081546752/KMlJfupi_400x400.jpg" alt="Arbour ales"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.tapestrybrewery.com/"
				target="_blank"><img class="friendlinkimages" src="https://pbs.twimg.com/media/EFsfyczXYAAoQEd.jpg" alt="Tapestry"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.newbristolbrewery.co.uk/"
				target="_blank"><img class="friendlinkimages" src="http://www.newbristolbrewery.co.uk/wp-content/uploads/2019/05/logo2.png" alt="New Bristol Brewery"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 friendbox">
			<a href="https://www.moorbeer.co.uk/"
				target="_blank"><img class="friendlinkimages" src="https://pbs.twimg.com/profile_images/465804812777316352/GeolrJv9_400x400.jpeg" alt="Moor Beer"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="https://www.sirencraftbrew.com/"
				target="_blank"><img class="friendlinkimages" src="https://www.sirencraftbrew.com/sites/sirencraftbrew/images/logo-black.png" alt="Siren craft"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="http://www.dawkinsales.com/firstpage.html"
				target="_blank"><img class="friendlinkimages" src="https://frblobstorage.blob.core.windows.net/img//i/Shops/0e42fa11-0918-4cda-9df8-4a41ba6fea67.png" alt="Dawkins Ales"></a>
		</div>
		<div class="col-sm-3 friendbox">
			<a href="http://goodchemistrybrewing.co.uk/"
				target="_blank"><img class="friendlinkimages" src="https://untappd.akamaized.net/site/brewery_logos_hd/brewery-249636_86f5f_hd.jpeg" alt="Good Chemisty"></a>
		</div>
	</div>

{% endblock %}