{% extends 'base.html' %}
{% block content %}

<div>
    <h2 class="helpPageTitle">Help Page</h2>
	<p>
        Need Some Help?

		How to add a can
		Login
		Then select add a beer
		Simply fill out all fields and click add beer done!

		Made a mistake?
		Select the beer you added and click Edit beer
		Make your corrections and click done
		Stop and marvel at your new beer review creation raise a glass and shout Cheers!

		How to add links to images an image url?
		Find an image on the internet you would like to use, please ensure there is no copywrite and you have the owners
		permission to use the image. Right click on the image (On Google chrome and Opera) select copy image address
		(FireFox) copy image location. Then paste that link in the image URL box.
		Unfortunately as yet we do not have the facility to upload images, however if the images are your own they can
		be uploaded to image hosing sites like https://imgur.com/ for free.
	</p>
</div>

{% endblock %}