{% extends 'base.html' %}

{% block content %}

<div class="container-fluid help-box">
	<div class="row">
		<h2 class="helpPageTitle">Need Some Help?</h2>
		<div class="col-s-12">

			<h5>How to add a can?</h5>
			<p>Login then select add a beer
				Simply fill out all fields and click add beer done!</p>

			<h5>Is my Beer Vegan Friendly?</h5>
			<p>As a general rule if the beer is hazy (Unfined) then generally it is ok for vegan consumption, however
				this is not always the case,
				check on the bottle or can for more info, if in doubt select no. </p>

			<h5>Made a mistake?</h5>
			<p>Select the beer you added and click Edit beer
				Make your corrections and click done
				Stop and marvel at your new beer review creation raise a glass and shout Cheers!</p>

			<h5>How to add links to images an image url?</h5>
			<p>Find an image on the internet you would like to use, it's recomended to find a square image, please
				ensure there is no copy write and you have the
				owner's permission to use the image.</p>

			<h5>Desktop:</h5>
			<p>Right click on the image (On Google chrome and Opera) select copy image address
				(FireFox) copy image location. Then paste that link in the image URL box.</P>

			<h5>Mobile:</h5>
			<p>Find the image press and hold a small box will popup tap the image again then select copy link address,
				then paste in to image url field.
				** Note this has only been tested on android with chrome other makes and browsers maybe different please
				consult your phone manufacture documentation.**</p>
			<p>Unfortunately as yet we do not have the facility to upload images, however if the images are your own
				they can
				be uploaded to image hosing sites like https://imgur.com/ for free.</p>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 usure-beer">
			<h3>Unsure Of What Beer Is What?</h3>
			<p>
				No problem checkout theses weird and wonderful types of beer.
			</p>
			<div class="row beer-links-container">
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Stout" target="_blank">Stout</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Lager" target="_blank">Lager</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/India_pale_ale" target="_blank">India Pale Ale</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Porter_(beer)" target="_blank">Porter</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Brown_ale" target="_blank">Brown Ale</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/American_pale_ale" target="_blank">American Pale Ale</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Sour_beer" target="_blank">Sour Beer</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Rye_beer" target="_blank">Rhy Beer</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Barley_wine" target="_blank">Barley Wine</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Saison" target="_blank">Saison</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Pilsner" target="_blank">Pilsner</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Wheat_beer" target="_blank">Wheat Beer</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Bock" target="_blank">Bock</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Red_ale" target="_blank">Red Ale</a>
				</div>
				<div class="col-sm-3">
					<a href="https://en.wikipedia.org/wiki/Bitter_(beer)" target="_blank">Bitter</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row help-row">
		<div class="col-sm-12 help-alco-help-heading">
			<h3>Having trouble with Alcohol?</h3>
			<p>Don't suffer in silence reach out and for help!</p>
		</div>
		<div class="col-sm-6 help-link">
			<a href="https://www.drinkaware.co.uk/alcohol-facts/health-effects-of-alcohol/mental-health/alcoholism/"
				target="_blank">DrinkAware </a>
		</div>
		<div class="col-sm-6 help-link">
			<a href="https://www.alcoholics-anonymous.org.uk/" target="_blank">Alcoholics Anonymous</a>
		</div>
	</div>
</div>

{% endblock %}