{% extends 'base.html' %}
{% block content %}

<div class="row">
	<h2 class="helpPageTitle">Need Some Help?</h2>
	<div class="col-s-12">
		<span>
			

			<p>How to add a can?<br>
			Login then select add a beer
			Simply fill out all fields and click add beer done!</p>

            <p>Is my Beer Vegan Friendly?<br>
            As a general rule if the beer is hazy (Unfined) then generally it it ok for vegan consumption however this is not always the case, 
            check on the bottle or can for more info if in doubt selct no. </p>

			<p>Made a mistake?<br>
			Select the beer you added and click Edit beer
			Make your corrections and click done
			Stop and marvel at your new beer review creation raise a glass and shout Cheers!</p>

			<p>How to add links to images an image url?<br>
			Find an image on the internet you would like to use, please ensure there is no copywrite and you have the
			owners
			permission to use the image. Right click on the image (On Google chrome and Opera) select copy image address
			(FireFox) copy image location. Then paste that link in the image URL box.
			Unfortunately as yet we do not have the facility to upload images, however if the images are your own they
			can
			be uploaded to image hosing sites like https://imgur.com/ for free.</p>
		</span>
	</div>
</div>

<div class="row">

	<div class="col-s-12">
		<h3>Unsure of what beer is what?</h3>
		<p>
			No problem checkout theses weird and wonderful types of beer
		</p>
		<ul>
			<li>
				<a href="https://en.wikipedia.org/wiki/Stout" target="_blank">Stout</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Lager" target="_blank">Lager</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/India_pale_ale" target="_blank">India Pale Ale</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Porter_(beer)" target="_blank">Porter</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Brown_ale" target="_blank">Brown Ale</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/American_pale_ale" target="_blank">American Pale Ale</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Sour_beer" target="_blank">Sour Beer</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Rye_beer" target="_blank">Rhy Beer</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Barley_wine" target="_blank">Barley Wine</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Saison" target="_blank">Saison</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Pilsner" target="_blank">Pilsner</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Wheat_beer" target="_blank">Wheat Beer</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Bock" target="_blank">Bock</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Red_ale" target="_blank">Red Ale</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Bitter_(beer)" target="_blank">Bitter</a>
			</li>
		</ul>

	</div>

</div>
<div class="row">
	<div class="col-s-12">
		<h3>Having trouble with alcohol?</h3>
		<p>Dont suffer in silence reach out and ask for help!</p>
		<ul>
			<li>
				<a href="https://www.drinkaware.co.uk/alcohol-facts/health-effects-of-alcohol/mental-health/alcoholism/"
					target="_blank">DrinkAware </a>
			</li>
			<li>
				<a href="https://www.alcoholics-anonymous.org.uk/" target="_blank">Alcoholics Anonymous</a>
			</li>
		</ul>


	</div>





</div>
{% endblock %}