{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="col-sm-12 herologo">
		<img class="cellarlogo" src="/static/images/can-share.png" alt="can share image">
    </div>
		<div class="col-sm-12 loginbox">
			<form method="POST" action="{{url_for('register')}}">
				<h3>SignUp Here To Get Started:</h3>
				<div>
					<label>Username</label><br>
					<input type="text" name="username" required>
                    </div>
					  <div>
						    <label>Email</label><br>
						    <input type="email" name="email" required>
                        </div>
						<div>
							<label>Password</label><br>
							<input class="passwordinputbox" type="password" name="password" required>
                        </div>
						<div>
						<button type="submit" class="btn btn-primary form-button" value="register">SignUp!</button>
						<a class="btn btn-primary form-button" href="{{url_for ('home')}}">Back</a>
					</div>
			</form>

		</div>
	</div>

	{% endblock %}